# Python
__pycache__/
*.py[cod]

# Virtual Environment
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Environment variables
.env

# VS Code
.vscode/

# GCP credentials
*.json
# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/

# Firebase credentials
aaliya_agate/firebase/*.json
